body {
  color: white;
  background-color: #2C3539;
  text-align: center;
}

input {
  color: black;
  width: 2em;
  text-align: center;
}

button {
  color: black;
  width: 2em;
  height: 2em;
  border: 1px solid black;
  border-radius: 50%;

}

.countdown {
  height: 20em;
  width: 20em;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto;
}

.countdown p{
  position: relative;
  top: 45%;
  
}

.countdown-button {
  width: 5em;
}