body {
  color: white;
  background-color: #2C3539;
}

.main-row li {
  display: inline-block;
  margin: 1em;
}

.increment li {
  display: inline-block;
}

.timer {
  border: 2px solid white;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  padding-top: 20%;
}

.session-decrease-button,
.session-increase-button,
.break-increase-button,
.break-decrease-button,
.timer {
  cursor: pointer;
}



